@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

html {
    height: 100%;
    body {
        height: 100%;
        margin: 0;
        box-sizing: border-box;
        #app {
            height: 100%;
            font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
        }
    }
}